* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.head-wrapper {
  height: 12vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
}
.head-wrapper span {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #3a8fd8;
}
.head-wrapper ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}
.head-wrapper ol li {
  margin-left: 40px;
  cursor: pointer;
}

.hdListColor {
  color: #3a8fd8;
}
.second-wrapper {
  position: relative;
  height: 30vh;
  background-color: #62c8df;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-wrapper {
  position: absolute;
  top: 30px;
  border: 2px solid #fff;
  height: 60px;
  width: 50%;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.res-title {
  font-weight: 500;
  position: absolute;
  top: -10px;
  left: 20px;
  width: 60px;
  background-color: #62c8df;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-wrapper {
  height: 35vh;
  background-color: #f9f9fa;
}
.fourth-wrapper {
  height: calc(98vh - (12vh + 30vh + 35vh));
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-wrapper {
  height: 42%;
  width: 50%;
  background-color: #f9f9fa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.mode-wrapper {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}
.mode-wrapper ol {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  color: #7b8182;
}
.mode-wrapper ol li:nth-child(1) {
  margin-left: 15px;
  cursor: default;
}
.mode-wrapper ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}
/* .mode-wrapper ol li:nth-child(2) {
  background-color: #3a8fd8;
  color: #f9f9fa;
} */
.mode-changer {
  background-color: #3a8fd8;
  color: #f9f9fa;
}
.remove-mode-changer {
  background-color: transparent;
  color: #7b8182;
}

.div-line-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-line {
  text-align: center;
  width: 98%;
}
.text-wrapper {
  /* border: 1px solid black; */
  position: relative;
  height: calc(80% - 40px);
  width: 100%;
}
.text-area {
  height: 100%;
  width: 100%;
  padding: 15px 15px;
  font-size: 20px;
  resize: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
}
.button-wrapper {
  width: 100%;
  /* border: 1px solid black; */
  margin-top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkBtn {
  width: 90%;
  height: 30px;
  position: absolute;
  bottom: 18px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #62c8df;
  color: #f9f9fa;
  cursor: pointer;
}
.checkBtn:focus {
  border: none;
  outline: none;
}
.title-wrapper,
.inst-wrapper {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b8182;
}
.title-wrapper {
  width: 40%;
  font-size: 20px;
  text-transform: uppercase;
  color: #7b8182;
}
.divider-div {
  background-color: black;
  width: 5px;
  height: 95%;
}
.inst-wrapper {
  justify-content: start;
  margin-left: 100px;
}
.inst-wrapper ol {
  list-style: square;
}
.inst-wrapper ol li {
  line-height: 30px;
}

.footer-wrapper {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1f4851;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css for about page  */

.main-secation {
  position: relative;
  height: calc(100vh - 12vh);
  width: 100vw;
  background-image: linear-gradient(0deg, #62c8df, #85e4fa, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.image-wrapper {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-image,
.second-image,
.third-image {
  margin-top: -150px;
  background-image: url(./roni.jpg);
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 200px;
  width: 200px;
  border: 5px solid #22527c;
  box-shadow: 0 0 20px 0 rgba(34, 110, 129, 0.307);
  border-radius: 50%;
  animation: floatAnimation 3s infinite alternate;
}
.second-image {
  background-image: url(./boni.jpg);
}
.third-image {
  background-image: url(./gd.jpg);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px); /* Adjust the distance as needed */
  }
}

.name-section {
  margin-top: 10px;
  text-transform: uppercase;
  color: #1f4851;
  font-weight: bolder;
  font-size: 20px;
}
.desc-section {
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .main-secation {
    flex-direction: column;
    padding-top: 150px;
  }
  .first-image,
  .second-image,
  .third-image {
    height: 120px;
    width: 120px;
  }
  .name-section {
    font-size: 16px;
  }
  .desc-section {
    font-size: 12px;
  }
  .head-wrapper {
    padding-right: 10px;
  }
  .card-wrapper {
    height: 35%;
    width: 80%;
  }
  .title-wrapper {
    font-size: 15px;
    margin-left: 15px;
  }
  .inst-wrapper ol li {
    font-size: 10px;
    line-height: 18px;
    margin-left: -50px;
  }
  .inst-wrapper {
    padding-right: 10px;
  }
}
